<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <meta-data
            android:name="com.fluxer.PUSH_PROVIDER_FLAVOR"
            android:value="fcm" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/fluxer_logo_monochrome" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="fluxer_default_push" />
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>
